<!DOCTYPE html>
<html>
  <head>
    <title>MongoDB</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h1>Message From Database</h1>
    <p><%= msg %></p>
    
  </body>
</html>
